<h1>หน้าแรก</h1>
<div class="row">
  <div class="col-md-12">
    <% if flash[:notice] %>
    <div class="notice alert alert-info alert-dismissable"><%= flash[:notice] %></div>
    <% end %>
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>รายชื่อพนักงาน</h5>
      <div class="ibox-tools">
        <%= link_to new_staff_path , class: 'btn btn-primary dim' do %>
          <i class='fa fa-plus'></i>
        <% end %>
      </div>
    </div>
    <br>
    <!-- <div class="ibox-content"> -->
      <div class="row">
        <% @staffs.each do |staff| %>
        <div class="col-lg-4">
          <div class="contact-box">
              <!-- <a href="profile.html"> -->
              <div class="col-sm-4">
                  <div class="text-center">
                    <span>
                      <i class="fa fa-users fa-5x"></i>
                    </span>
                    <div class="m-t-xs font-bold"><span class="label label-info"><%= staff.position.name %></span></div>
                  </div>
              </div>
              <div class="col-sm-8">
                  <h3><strong><%= staff.name %></strong></h3>
                  <p><i class="fa fa-map-marker"></i> <%= staff.department.name %></p>
                  <address>
                      <strong><span class="fa fa-mobile"></span> หมายเลขโทรศัพท์ : </strong> <%= staff.tel %><br>
                      <strong><span class="fa fa-envelope-o"></span> Email : </strong><%= staff.email %>
                  </address>
                  <%= link_to  staff_path(staff.id) , class: 'btn btn-primary btn-circle' do %>
                    <i class="fa fa-info-circle" ></i>
                  <% end %>
                  <%= link_to  edit_staff_path(staff.id) , class: 'btn btn-success btn-circle' do %>
                    <i class="fa fa-edit" ></i>
                  <% end %>
                  <%= link_to staff_path(staff.id) , method: :delete   , class: 'btn btn-danger btn-circle' do %>
                    <i class="fa fa-trash-o"></i>
                  <% end %>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        <% end %>
      </div>
      <%= will_paginate @staffs, renderer: BootstrapPagination::Rails %>
  </div>
  </div>
</div>
