<div class="row">
  <div class="col-md-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>รายละเอียดพนักงาน</h5>
      </div>
      <div class="ibox-content no-padding border-left-right">
        <!-- เอาไว้ใส่รูป -->
      </div>
      <div class="ibox-content profile-content">
        <h2>
          <strong><%= @staff.name %></strong>
        </h2>

        <div class="hr-line-dashed"></div>

        <h3>
          เกี่ยวกับ
        </h3>
        <p>
          แผนก : <%= @staff.department.name %>
        </p>
        <p>
          ตำแหน่ง : <%= @staff.position.name %>
        </p>
        <p>
          เพศ : <%= @staff.gender.name %>
        </p>
        <p>
          ที่อยู่ : <%= @staff.address %>
        </p>
        <p>
          หมายเลขโทรศัพท์ : <%= @staff.tel %>
        </p>
        <p>
          อีเมล์ : <%= @staff.email %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>ป.143 ที่ทำผิดพลาด</h5>
      </div>
      <div class="ibox-content no-padding border-left-right">
        <!-- เอาไว้ใส่รูป -->
      </div>
      <div class="ibox-content profile-content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>หมายเลข ป.143</th>
              <th>รายละเอียด</th>
              <th>ประเภทความผิดพลาด</th>
            </tr>
          </thead>
          <tbody>
            <% @paper_staff.each do |a| %>
            <tr>
              <td><%= link_to "หมายเลข #{a.id}" , paper_path(a.id) %></td>
              <td><%= a.description %></td>
              <td><%= a.mistake_type.name %></td>
              <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
