<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>เพิ่ม ป.143</h5>
      </div>
      <div class="ibox-tools">

      </div>
      <div class="ibox-content">
        <%= form_for @paper do |form| %>
          <div class="row">
            <div class="col-lg-6">

              <div class="form-group">
                <%= form.label :ประจำวันที่ , class:'control-label' %>
                <%= form.date_field :day , class:'form-control' , value: Time.now.strftime('%Y-%m-%d')  %>
              </div>

              <div class="form-group">
                <%= form.label :ลงวันที่ , class:'control-label' %>
                <%= form.date_field :dated , class:'form-control' , required: true %>
              </div>

              <div class="form-group">
                <%= form.label :รายละเอียด , class: 'control-label' %>
                <%= form.text_area :description , class: 'form-control' , required: true %>
              </div>

              <div class="form-group">
                <%= form.label :แผนก , class: 'control-label' %>
                <%= form.collection_select :department_id , Department.all , :id , :name , {prompt:'โปรดระบุแผนก'}  , required: true , class:'form-control' %>
              </div>

              <div class="form-group">
                <%= form.label :ความผิดพลาด , class: 'control-label' %>
                <%= form.collection_select :mistake_type_id , MistakeType.all , :id , :name , {prompt: "โปรดระบความผิดพลาด"} , required: true  , class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= form.label :การดำเนินการ  , class: 'control-label' %>
                <%= form.collection_select :operation_id , Operation.all , :id , :name , {prompt: 'โปรดระบุการดำเนินการ'} , required: true , class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= form.label :ต้นทาง , class: 'control-label' %>
                <%= form.collection_select  :source_id , Source.all , :id , :name , {prompt: 'โปรดระบุต้นทาง'} , required: true , class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= form.label :หมายเหตุ , class: 'control-label' %>
                <%= form.text_area :remark , class: 'form-control' %>
              </div>

            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= form.label :พนักงานที่ทำผิดพลาด , class:'control-label' %>
                <%= form.collection_select :staff_ids, @staffs  ,:id , :name,{ prompt: "-"},{ multiple: true, size: 23 , class:'form-control' } %>
              </div>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <%= form.submit 'บันทึกผล' , class: 'btn btn-primary btn-rounded btn-block' %>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <%= link_to 'ย้อนกลับ' , papers_path , class:'btn btn-warning btn-rounded btn-block' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
