<h1>หน้าแรก</h1>
<% if flash[:notice] %>
  <div class="notice alert alert-info alert-dismissable"><%= flash[:notice] %></div>
<% end %>
<div class="col-md-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>รายการ ป.143</h5>
      <div class="ibox-tools">
        <%= link_to new_paper_path , class: 'btn btn-primary dim' do %>
          <i class='fa fa-plus'></i>
        <% end %>
      </div>
    </div>
    <div class="ibox-content">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>ประจำวันที่</th>
            <th>ลงวันที่</th>
            <th>ต้นทาง</th>
            <th>ความผิดพลาด</th>
            <th>แผนก</th>
            <th>การดำเนินการ</th>
            <th><i class="fa fa-gears"></i></th>
          </tr>
        </thead>
        <tbody>
          <% @papers.each do |paper| %>
            <tr>
              <td><%= paper.id %></td>
              <td><%= paper.day %> </td>
              <td><%= paper.dated %></td>
              <td><%= paper.source.name %></td>
              <td><%= paper.mistake_type.name %></td>
              <td>แผนก....</td>
              <td><span class="<%= paper.operationCheck%>"><%= paper.operation.name %></span></td>
              <td>
                <%= link_to  paper_path(paper.id) , class: 'btn btn-primary btn-circle' do %>
                  <i class="fa fa-info-circle" ></i>
                <% end %>
                <%= link_to  edit_paper_path(paper.id) , class: 'btn btn-success btn-circle' do %>
                  <i class="fa fa-edit" ></i>
                <% end %>
                <%= link_to paper_path(paper.id) , method: :delete   , class: 'btn btn-danger btn-circle' do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
