<div class="row">
  <div class="col-md-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>รายละเอียด ป.143</h5>
      </div>
      <div class="">
        <div class="ibox-content no-padding border-left-right">
          <!-- เอาไว้ใส่รูป -->
        </div>
        <div class="ibox-content profile-content">
          <div class="form-group">
            <div class="label-control">
              <strong>ประจำวันที่</strong>
            </div>
            <div class="">
              <%= @paper.day %>
            </div>
          </div>

          <div class="form-group">
            <div class="label-control">
              <strong>ลงวันที่</strong>
            </div>
            <div class="">
              <%= @paper.dated%>
            </div>
          </div>

          <div class="form-group">
            <div class="label-control">
              <strong>รายละเอียด</strong>
            </div>
            <div class="">
              <%= @paper.description%>
            </div>
          </div>

          <div class="form-group">
            <div class="label-control">
              <strong>แผนก</strong>
            </div>
          </div>
          <div class="">

          </div>

          <div class="form-group">
            <div class="label-control">
              <strong>ความผิดพลาด</strong>
            </div>
            <div class="">
              <%= @paper.mistake_type.name %>
            </div>
          </div>

          <div class="form-group">
            <div class="label-control">
              <strong>การดำเนินการ</strong>
            </div>
            <div class="">
              <%= @paper.operation.name %>
            </div>
          </div>

          <div class="form-group">
            <div class="label-control">
              <strong>ต้นทาง</strong>
            </div>
            <div class="">
              <%= @paper.source.name %>
            </div>
          </div>

          <div class="form-group">
            <div class="label-control">
              <strong>พนักงานที่ทำผิดพลาด</strong>
            </div>
            <div class="">
              <% @staff_paper.each do |a| %>
                <%= @count = @count+1 %>. <%= link_to "#{a.name}" , staff_path(a.id) %>  /
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <div class="label-control">
              <strong>หมายเหตุ</strong>
            </div>
            <div class="">
              <%= @paper.remark %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
