  <div class="col-lg-12">
  <!-- ป.143  -->
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>ใบแจ้งเหตุ ป.143</h5>
    </div>
    <div class="pull-right">

    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="widget style1 navy-bg">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-clipboard fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span>ใบแจ้งเหตุ ป.143 ทั้งหมด</span>
                <h2 class="font-bold"><%=@paper%></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="widget style1 navy-bg">
            <div class="row">
              <div class="col-xs-4">
                <div class="">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="widget style1 navy-bg">
            <div class="row">
              <div class="col-xs-4">
                <div class="">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="widget style1 navy-bg">
            <div class="row">
              <div class="col-xs-4">
                <div class="">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- พนักงานทั้งหมด -->
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>พนักงานทั้งหมด</h5>
    </div>
    <div class="pull-right">

    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="widget style1 navy-bg">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-users fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span> จำนวนพนักงานทั้งหมด </span>
                <h2 class="font-bold"><%= @staff_count %> คน</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="widget style1 orange-bg">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-fighter-jet fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span> จำนวนพนักงานแผนกไปรษณีย์ด่วนพิเศษทั้งหมด </span>
                <h2 class="font-bold"><%= @staff_ems_count %> คน</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="widget style1 red-bg">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-check fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span> จำนวนพนักงานแผนกไปรษณียภัณฑ์ลงทะเบียนทั้งหมด </span>
                <h2 class="font-bold"><%= @staff_reg_count %> คน</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="widget style1 white-bg">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-envelope fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span> จำนวนพนักงานแผนกไปรษณียภัณฑ์ธรรมดาทั้งหมด </span>
                <h2 class="font-bold"><%= @staff_lc_count %> คน</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="widget style1 yellow-bg">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-cubes fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span> จำนวนพนัจำนวนพนักงานแผนกพัสดุไปรษณีย์ทั้งหมด </span>
                <h2 class="font-bold"><%= @staff_p_count %> คน</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="widget style1 purple-bg">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-car fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span> จำนวนพนักงานแผนกลำเลียงและขนส่งทั้งหมด </span>
                <h2 class="font-bold"><%= @staff_tran_count %> คน</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="widget style1 green-bg">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-bicycle fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span> จำนวนพนักงานแผนกโลจิสโพสต์ทั้งหมด </span>
                <h2 class="font-bold"><%= @staff_l_count %> คน</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
